.friendList{
display: flex;
gap: 15px;
flex-direction: column;
margin: 30px 0px;
}
.item{
display: flex;
gap: 15px;
background-color: rgba(255, 255, 255, 0.954);
box-shadow: 0 0 10px #c6cccced; 
justify-content: flex-start;
align-items: center;
padding: 15px;
}
.status{
border: 10px solid #3f7136e7;;
border-radius: 50%;
background-color: #3f7136e7;
}
.avatar{
width: 70px;
height: inherit;
}
.name{
font-size: 20px;
font-weight: bold;
}