.transactionHistory{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0 0 10px #c6cccced;
    border: 2px solid #7e6f7498;;
}
thead{
    background-color: aqua;
    padding: 20px;
    border-bottom: 2px solid #7e6f7498;
}
tr{
    display: flex;
    gap: 50px;
    ;
}
td{
 width: 50px;    
}
td{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
    border-bottom: 2px solid #7e6f7498
    
}
td{
 width: 50px;   
}